<div class="btn-group">
  {{#each browsers as |browser|}}
    <button
      type="button"
      class="browser-switcher btn btn-square position-relative {{if (eq browser.id activeBrowser.id) "is-browser-active"}} {{concat "data-test-browser-switcher-" browser.familySlug}}"
      {{action updateActiveBrowser browser}}
      data-test-browser-switcher-button
    >
      {{inline-svg (concat browser.familySlug "-browser-icon") class="opacity-25"}}
      {{#if build}}
        {{browser-switcher-badge
          unnapprovedSnapshotCount=(get (get unapprovedSnapshotsWithDiffForBrowsers browser.id) "length")
          isActive=(eq browser.id activeBrowser.id)
        }}
      {{/if}}
    </button>
  {{/each}}
</div>
