{{build-toolbar
  build=build
  project=build.project
  organization=build.project.organization
  allDiffsShown=allDiffsShown
  toggleAllDiffs=(action "toggleAllDiffs")
  createReview=createReview
  approvableSnapshots=snapshotsChanged
  activeBrowser=activeBrowser
  updateActiveBrowser=(action 'updateActiveBrowser')
  isSnapshotsLoading=isSnapshotsLoading
  isBuildApprovable=isBuildApprovable
}}

<div class="BuildContainer-body w-full">
  {{build-header
    build=build
    showSupport=showSupport
    isBuildApprovable=isBuildApprovable
  }}

  {{#if isSnapshotsLoading}}
    {{loading-page}}
  {{else if build.isFinished}}
    {{snapshot-list
      snapshotsChanged=snapshotsChanged
      build=build
      allDiffsShown=allDiffsShown
      toggleAllDiffs=(action "toggleAllDiffs")
      isKeyboardNavEnabled=(not isHidingBuildContainer)
      showSnapshotFullModalTriggered=(action 'showSnapshotFullModalTriggered')
      createReview=createReview
      activeBrowser=activeBrowser
      updateActiveBrowser=(action 'updateActiveBrowser')
      isUnchangedSnapshotsVisible=isUnchangedSnapshotsVisible
      toggleUnchangedSnapshotsVisible=(action "toggleUnchangedSnapshotsVisible")
      snapshotsUnchanged=snapshotsUnchanged
      isUnchangedSnapshotsLoading=isUnchangedSnapshotsLoading
      isBuildApprovable=isBuildApprovable
    }}
  {{/if}}
</div>
