<header class="build-toolbar fixed pin-t w-screen z-3 flex justify-between items-center px-2 bg-gray-000 border-b" data-test-build-toolbar>
  <div class="flex items-center">
    {{#link-to "index"}}
      <figure class="svg-container mr-2">
        {{inline-svg "percy-logo-on-light"}}
      </figure>
    {{/link-to}}
    <div class="flex items-center bg-purple-300 text-sm rounded px-1 py-sm hide-on-mobile">
      {{#link-to "organization" organization class="font-mono text-purple-600 truncate truncate-target hide-on-tablet"}}{{organization.name}}{{/link-to}}
      <span class="font-semibold mx-sm hide-on-tablet">/</span>
      {{#link-to "organization.project" organization.slug project class="font-mono text-purple-600 truncate truncate-target" data-test-build-toolbar-project-link=true}}
        {{project.name}}
      {{/link-to}}
      {{#if organization.isSponsored}}
        {{fa-icon data-test-build-public-project "globe" class="text-blue-200 ml-1"}}
      {{/if}}
    </div>
  </div>

  {{trial-bar organization=organization}}

  <div class="flex items-center">
    {{#if (and build.isFinished (not isSnapshotsLoading))}}
      {{#if build.hasMultipleBrowsers}}
        <div class="mr-2">
          {{browser-switcher
            browsers=build.browsers
            activeBrowser=activeBrowser
            updateActiveBrowser=(action "switchBrowsers")
            build=build
          }}
        </div>
      {{/if}}

      <button type="button" class="btn btn-square hint--bottom hint--rounded hint--bounce" aria-label="Toggle all diffs (d)" {{action 'toggleOverlay'}} data-test-toggle-diffs-button>
        <figure class="svg-container">
          {{#if allDiffsShown}}
            {{inline-svg "diff-toggle-on"}}
          {{else}}
            {{inline-svg "diff-toggle-off"}}
          {{/if}}
        </figure>
      </button>
    {{/if}}

    {{#if build.isFinished}}
      <div class="{{if (not isBuildApprovable) "hint--left hint--rounded hint--bounce"}}" aria-label="{{if (not isBuildApprovable) "You can't approve this build because you are not a member of this build's organization or are not logged in"}}">
        {{build-approval-button
          build=build
          createReview=createReview
          approvableSnapshots=approvableSnapshots
          isDisabled=(not isBuildApprovable)
        }}
      </div>
    {{/if}}
  </div>
</header>
