<table data-test-commit-table>
  <tr>
    <td>Commit</td>
    <td>
      {{#if isRepoLinked}}
        <code><a data-test-commit-table-branch-url href="{{branchUrl}}">{{@build.branch}}</a></code>
        @
        <a data-test-commit-table-commit-url href="{{commitUrl}}">{{@commit.shaShort}}</a>
      {{else}}
        {{build.branch}} @ {{commit.shaShort}}
      {{/if}}
    </td>
  </tr>
  <tr><td>Committer</td><td>{{commit.authorName}}</td></tr>
  <tr><td>Message</td><td class="BuildInfoDropdown-commitMessage">{{commit.message}}</td></tr>
</table>
