<footer class="marketing-footer bg-gray-700 text-white container-full py-8">
  <div class="container-lg grid col-4 mb-8">
    {{#each (await footerGroups) as |column|}}
      <div>
        <div class="inline-block border-b border-gray-400 text-lg font-semibold leading-loosest mb-2">
          {{column.category}}
        </div>
        <div class="font-semibold">
          {{#each (sort-by "order" column.items) as |item|}}
            <a href="{{item.textLink}}" class="block mb-sm no-underline">{{item.text}}</a>
          {{/each}}
        </div>
      </div>
    {{/each}}
  </div>

  <div class="container-lg flex justify-between">
    <div class="flex items-center">
      <a href="https://percy.io" class="mr-2">
        <figure class="svg-container">
          {{inline-svg "/marketing/logo-full-white"}}
        </figure>
      </a>
      <div class="font-semibold text-base">
        &#169; {{moment-format (now) 'YYYY'}}
      </div>
    </div>
    <div class="flex items-center">
      <a href="https://twitter.com/percy_io" target="_blank" rel="noopener" class="mr-2">
        <figure class="svg-container">
          {{inline-svg "marketing/twitter-icon-white"}}
        </figure>
      </a>
      <a href="https://github.com/percy" target="_blank" rel="noopener">
        <figure class="svg-container">
          {{inline-svg "marketing/github-icon-white"}}
        </figure>
      </a>
    </div>
  </div>
</footer>
