<header class="sticky pin-t bg-white z-1">
  {{#unless isUserMember}}
    {{public-project-notice}}
  {{/unless}}
  <div class="flex flex-wrap justify-between items-center py-3 px-4">
    <div>
      <div class="flex items-center">
        {{menu-icon
          class="mr-2 cursor-pointer show-on-tablet"
          toggleSidebar=toggleSidebar
          isSidebarVisible=isSidebarVisible
        }}
        <h2 class="m-0 mr-2 text-xl md:text-2xl font-normal">{{project.name}}</h2>
        {{#if project.isDisabled}}
          <div class="label">disabled</div>
        {{/if}}
        {{#if isUserMember}}
          {{#link-to "organization.project.settings" project.organization.slug project.slug class="mr-2" data-test-settings-icon=true}}
            <figure class="svg-container">
              {{inline-svg "settings-icon"}}
            </figure>
          {{/link-to}}
        {{/if}}
        <button {{action "refresh"}} class="btn-icon-only {{if isRefreshing 'animate-rotate-360'}}">
          {{inline-svg "refresh-icon"}}
        </button>
      </div>
    </div>

    <div data-test-project-container-project-repo-linked>
      {{#if project.repo}}
        <div class="flex items-center">
          <figure class="svg-container mr-1">
            {{#if (repo-logo project.repo)}}
              {{inline-svg (repo-logo project.repo)}}
            {{/if}}
          </figure>
          <span class="whitespace-no-wrap font-semibold mr-1">Linked to</span>
          <a href="{{project.repo.htmlUrl}}"><code>{{project.repo.slug}}</code></a>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="build-list-header px-4 border-b">
    {{#if builds}}
      <div class="text-sm text-gray-400 font-semibold pb-sm">Build #</div>
      <div class="text-sm text-gray-400 font-semibold pb-sm">Details</div>
      <div class="text-sm text-gray-400 font-semibold pb-sm">Diffs</div>
      <div class="text-sm text-gray-400 font-semibold pb-sm">Status</div>
    {{/if}}
  </div>
</header>
{{#if (and builds.isPending (not isRefreshing))}}
  {{loading-page}}
{{else}}
  {{#if builds}}
    <div class="build-list">
      {{#each builds as |build|}}
        {{build-card build=build project=project}}
      {{/each}}
      {{#infinity-loader infinityModel=builds hideOnInfinity=true}}
        {{loading-build-card}}
      {{/infinity-loader}}
    </div>
  {{else}}
    <div class="container-full p-8">
      {{#if project.isEnabled}}
        {{#if isUserMember}}
          <div class="Alert Alert--warning">
            <strong>Waiting for first snapshot:</strong> complete setup below to generate first snapshot.
          </div>
          <h5>Getting started</h5>
          <p>Here's an overview of how to get started:</p>

          <ol>
          <li>Set the <code>PERCY_TOKEN</code> environment variable in your CI environment.</li>
          <li>Integrate Percy's client library to take snapshots in your test suite.</li>
          <li>Run your tests in CI or create a GitHub PR.</li>
          </ol>

          <p>
            {{#link-to "docs.index" class="Button"}}View setup documentation{{/link-to}}
          </p>

          <h5>Project token</h5>
          {{projects/env-vars project=project}}

          <h5>Just want to see a demo?</h5>
          <p>
            {{quickstart-button showQuickstart=showQuickstart}}
          </p>
          {{#if showQuickstart}}
            {{projects/quickstart-code project=project}}
          {{/if}}
        {{else}}
          {{status-panel
            inlineSvgName="refresh-icon"
            mainText="This project doesn't have any builds yet."
            secondaryText="The owners of this project are working hard to get some diffs ready for you to see!"
          }}
        {{/if}}
      {{else}}
        <p>No builds yet, and this project is disabled.</p>
      {{/if}}
    </div>
  {{/if}}
{{/if}}
