<header class="sticky pin-t bg-white z-1">
  {{#unless isUserMember}}
    {{public-project-notice}}
  {{/unless}}
  <div class="flex flex-wrap justify-between items-center py-3 px-4">
    <div>
      <div class="flex items-center">
        {{menu-icon
          class="mr-2 cursor-pointer show-on-tablet"
          toggleSidebar=toggleSidebar
          isSidebarVisible=isSidebarVisible
        }}

        {{#if project.publiclyReadable}}
          {{fa-icon data-test-public-project-icon "globe" class="text-lg text-blue-200 mr-1"}}
        {{/if}}

        <h2 class="m-0 mr-2 text-xl md:text-2xl font-normal">{{project.name}}</h2>
        {{#if project.isDisabled}}
          <div class="label mr-2">archived</div>
        {{/if}}
        {{#if isUserMember}}
          {{#link-to "organization.project.settings" project.organization.slug project.slug class="mr-2" data-test-settings-icon=true}}
            <figure class="svg-container">
              {{inline-svg "settings-icon"}}
            </figure>
          {{/link-to}}
        {{/if}}
        <button {{action "refresh"}} class="btn-icon-only {{if isRefreshing 'animate-rotate-360'}}">
          {{inline-svg "refresh-icon"}}
        </button>
      </div>
    </div>

    <div data-test-project-container-project-repo-linked>
      {{#if project.repo}}
        <div class="flex items-center">
          <figure class="svg-container mr-1">
            {{#if (repo-logo project.repo)}}
              {{inline-svg (repo-logo project.repo)}}
            {{/if}}
          </figure>
          <span class="whitespace-no-wrap font-semibold mr-1">Linked to</span>
          <a href="{{project.repo.htmlUrl}}"><code>{{project.repo.slug}}</code></a>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="build-list-header px-4 border-b">
    {{#if builds}}
      <div class="text-sm text-gray-400 font-semibold pb-sm">Build #</div>
      <div class="text-sm text-gray-400 font-semibold pb-sm">Details</div>
      <div class="text-sm text-gray-400 font-semibold pb-sm">Diffs</div>
      <div class="text-sm text-gray-400 font-semibold pb-sm">Status</div>
    {{/if}}
  </div>
</header>
{{#if (and builds.isPending (not isRefreshing))}}
  {{loading-page}}
{{else}}
  {{#if builds}}
    <div class="build-list">
      {{#each builds as |build|}}
        {{build-card build=build project=project}}
      {{/each}}
      {{#if canLoadMore}}
        {{#infinity-loader infinityModel=infinityBuilds}}
          {{loading-build-card}}
        {{/infinity-loader}}
      {{/if}}
    </div>
  {{else}}
    {{#if project.isEnabled}}
      {{#if isUserMember}}
        <div class="build-card-placeholder mb-2">
          {{inline-svg "comparison-icon" class="mr-1"}}
          <span class="font-semibold mr-sm">Waiting for your Percy build:</span> Use the resources below to setup Percy and generate your first snapshots.
        </div>

        <div class="px-2">
          <div class="bg-white rounded shadow-1">
            <div class="px-2 py-3 border-b">
              {{resource-widget project=project}}
            </div>
            <div class="px-2 py-3 border-b">
              <h2 class="text-xl font-semibold mb-sm">Percy Token</h2>
              <p class="text-gray-400 mb-2">Configure your local or CI environment with PERCY-TOKEN. This is a project-specific write-only API key that only has access to create builds, snapshots, and upload resources to this project. It should be kept secret.</p>
              {{projects/env-vars project=project}}
            </div>
            <div class="px-2 py-3">
              <h2 class="text-xl font-semibold mb-sm">Repository Integrations</h2>
              <p class="text-gray-400 mb-2">Connect your GitHub or GitLab repositories to add visual testing to pull/merge requests.</p>
              <a href="https://docs.percy.io/docs#section-source-code-integrations" class="percy-btn" target="_blank">
                See the docs
              </a>
            </div>
          </div>
        </div>
      {{else}}
        {{status-panel
          inlineSvgName="refresh-icon"
          classes="mt-8"
          mainText="This project doesn't have any builds yet."
          secondaryText="The owners of this project are working hard to get some diffs ready for you to see!"
        }}
      {{/if}}
    {{else}}
      <p>No builds yet, and this project is disabled.</p>
    {{/if}}
  {{/if}}
{{/if}}