<h2 class="text-xl font-semibold mb-sm">Set Up Guides</h2>
<p class="text-gray-400 mb-2">
  Integrate with one of our SDKs to add Percy snapshots to your web application, component library, or test framework.
</p>
<div class="flex">
  <div class="px-4 py-2 mr-4 border-r text-right font-semibold">
    {{#each-in languages as |key language|}}
      <div
        class="{{if (eq selectedLanguage key) 'cursor-default text-purple-600' 'cursor-pointer'}}"
        {{action 'selectLanguage' key}}
      >
        {{capitalize language.name}}
      </div>
    {{/each-in}}
  </div>
  <div class="flex flex-wrap py-2">
    {{#each-in frameworkOptions as |key framework|}}
      {{tech-card
        label=framework.name
        classes="mr-2 mb-2"
        tagname=""
        isSelected=(eq selectedFramework key)
        select=(action 'selectFramework' key)
      }}
    {{/each-in}}
  </div>
</div>

<div class="flex justify-end">
  <div class="btn-toolbar items-center">

    {{#if selectedFramework}}
      <a
        href="{{docLink}}"
        class="percy-btn {{docLinkClasses}}"
        target="_blank"
        data-test-framework-docs-button
      >
        See {{frameworkName}} docs
      </a>

      <a
        href="{{exampleLink}}"
        class="percy-btn percy-btn-primary {{exampleLinkClasses}}"
        target="_blank"
        data-test-example-framework-project-button
      >
        Example {{frameworkName}} project
      </a>

      {{#if isOtherSelected}}
        <div class="text-sm font-semibold">
          Request framework:
        </div>
        {{input
          type='text'
          class='form-control h-10 m-0'
          value=(mut requestedFramework)
          data-test-sdk-request-field=true
          enter=(action 'saveRequest')
        }}
        <input
          type="submit"
          class="btn btn-primary shadow-purple-lg mb-0"
          value="Submit"
          onclick={{action "saveRequest"}}
          data-test-org-save-button
        >
      {{/if}}
    {{else}}
      {{#link-to "docs.index" class="percy-btn data-test-generic-docs-button"}}See the docs{{/link-to}}
    {{/if}}

  </div>
</div>
