{{#each snapshotsChanged as |snapshot|}}
  {{snapshot-viewer
    build=build
    snapshot=snapshot
    allDiffsShown=allDiffsShown
    activeSnapshotId=activeSnapshotId
    shouldDeferRendering=shouldDeferRendering
    showSnapshotFullModalTriggered=showSnapshotFullModalTriggered
    createReview=createReview
    updateActiveSnapshotId=(action "updateActiveSnapshotId")
    activeBrowser=activeBrowser
    updateActiveBrowser=updateActiveBrowser
    isBuildApprovable=isBuildApprovable
  }}
{{/each}}

{{#if numSnapshotsUnchanged}}
  {{#if (not isUnchangedSnapshotsVisible)}}
    <div class="SnapshotViewer--actionable">
      <div class="flex items-center justify-center font-bold p-2 mx-2 mb-2 bg-gray-000 rounded border border-gray-100 cursor-pointer" data-test-toggle-unchanged {{action toggleUnchangedSnapshotsVisible}}>
        {{#if isUnchangedSnapshotsLoading}}
          {{inline-svg "loader-icon" class="mx-2"}} Loading unchanged snapshots
        {{else}}
          <figure class="svg-container">
            {{inline-svg "no-comparison-group-icon" class="mr-1"}}
          </figure>
           <div class="text-blue-500">
            {{pluralize numSnapshotsUnchanged "unchanged snapshot"}}
            {{#if build.hasMultipleBrowsers}}
              in {{activeBrowser.familyName}}
            {{else}}
              for all widths.
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  {{else}}
    {{#each snapshotsUnchanged as |snapshot|}}
      {{snapshot-viewer
        build=build
        allDiffsShown=allDiffsShown
        snapshot=snapshot
        activeSnapshotId=activeSnapshotId
        shouldDeferRendering=shouldDeferRendering
        showSnapshotFullModalTriggered=showSnapshotFullModalTriggered
        createReview=createReview
        updateActiveSnapshotId=(action "updateActiveSnapshotId")
        activeBrowser=activeBrowser
        updateActiveBrowser=updateActiveBrowser
        isBuildApprovable=isBuildApprovable
      }}
    {{/each}}
  {{/if}}
{{/if}}
