<form action="javascript:;" class="Form mb-0" data-test-gitlab-settings-edit-form>
  <div class="flex items-center mb-2">
    {{inline-svg "gitlab-icon-lg" class="mr-1"}}
    <h2 data-test-gitlab-settings-integration-name class="text-xl font-semibold m-0">
      {{#if isSelfHosted}}
        GitLab Self-Hosted Integration
      {{else}}
        GitLab Integration
      {{/if}}
    </h2>
  </div>
  <div class="p-2 bg-gray-000 rounded border mb-2">
    {{#if errorMessage}}
    <div class="Form-errors">
      {{errorMessage}}
    </div>
    {{/if}}
    {{#if isSelfHosted}}
      {{form-fields/input
        data-test-gitlab-host-field
        type="input"
        property="gitlabHost"
        title="GitLab Host"
        changeset=changeset
        placeholder="https://gitlab.example.com"
      }}
    {{/if}}
    {{form-fields/input
      data-test-gitlab-personal-access-token-field
      type="password"
      autocomplete="new-password-gitlab"
      property="gitlabPersonalAccessToken"
      title="Personal access token"
      changeset=changeset
      placeholder=gitlabPersonalAccessTokenPlaceholder
    }}
    <div class="rounded border p-2">
      <strong>Note:</strong> The <a href="https://gitlab.com/profile/personal_access_tokens" target="_blank">personal access token</a> is used to update commit statuses in GitLab. These updates will be made on behalf of this user. You may wish to create a specialized GitLab user for this purpose.
    </div>
  </div>
  <div data-test-gitlab-settings-edit-form-toolbar class="flex justify-between">
    <button type="button" disabled={{if isNewRecord true false}} data-test-gitlab-settings-delete class="btn btn-danger" {{action "delete" "Are you sure you want to remove this project's GitLab integration?"}}>Remove Integration</button>
    <div class="flex align-center">
      {{#link-to
        "organizations.organization.integrations"
        organization.slug
        class="btn back"
      }}
        Back
      {{/link-to}}
      {{form-fields/submit
        value="Save"
        isSaving=isSaving
        isSaveSuccessful=isSaveSuccessful
        disabled=isSubmitDisabled
        classes="btn btn-primary shadow-purple-lg mb-0 ml-1"
        submit=(action "save")
      }}
    </div>
  </div>
</form>
