<form class="Form m-0" action="javascript:;" data-test-project-edit-form>
  <div class="p-2 bg-gray-000 rounded border mb-2">
    {{form-fields/input
        property="name"
        title="Project name"
        changeset=changeset
        validateProperty=(action "validateProperty" changeset "name")
        testLabel="data-test-project-edit-name"
    }}
    {{form-fields/input
        property="slug"
        title="Slug"
        changeset=changeset
        validateProperty=(action "validateProperty" changeset "slug")
        testLabel="data-test-project-edit-slug"
    }}
    <div class="rounded bg-yellow-000 border border-yellow-100 p-2">
      <strong>Reminder:</strong> The slug is used to identify this project in URLs and the Percy API. Old build URLs will break if the slug is changed.
    </div>
  </div>

  <h2 class="text-xl font-semibold mt-3 mb-sm" data-test-auto-approve-branches-header>Auto-Approve Branches</h2>
  <p class="text-gray-400 mb-2">
    Builds with branches that match this filter will be automatically approved and won't require
    manual approval.
  </p>
  <div class="p-2 bg-gray-000 rounded border mb-2">
    {{form-fields/input
      property="autoApproveBranchFilter"
      title="Branch filter pattern"
      changeset=changeset
      testLabel="data-test-project-edit-autoapprove"
    }}
    Separate multiple branches with spaces. You can use <code>*</code> as a wildcard match. Example: <code>master staging-* release-*.*.*</code>
  </div>
  {{#if (variation "public-project-switch")}}
    <h2 class="text-xl font-semibold mt-3 mb-sm">Privacy</h2>
    <div class="p-2 bg-gray-000 rounded border mb-2">

      <div class="{{if isPlanSponsored "hint hint--top hint--rounded"}}" aria-label={{if isPlanSponsored "This project's organization is sponsored, so the project must be public."}}>
        {{form-fields/checkbox
          property="publiclyReadable"
          changeset=changeset
          title="Allow public viewers?"
          checkedValue=true
          uncheckedValue=false
          toggle=true
          isDisabled=isPlanSponsored
          testLabel="data-test-project-edit-public-checkbox"
        }}
      </div>

      If enabled, this project is publicly viewable by members outside of this organization. <a href="https://docs.percy.io/v1/docs/public-projects">Learn more</a>.
    </div>
  {{/if}}

  {{#if errorMessage}}
    <div class="Form-errors" data-test-project-edit-errors>
      {{errorMessage}}
    </div>
  {{/if}}

  <div class="flex justify-end">
    {{form-fields/submit
      isSaving=isSaving
      isSaveSuccessful=isSaveSuccessful
      value="Save"
      classes="btn btn-primary shadow-purple-lg mb-0"
      submit=(action "save")
    }}
  </div>
</form>
