<form action="javascript:;" class="mb-0">
  <div class="flex items-center justify-between mb-2">
    <div class="flex items-center">
      <div class="mr-2">
        <figure class="svg-container">
          {{inline-svg 'webhook-icon'}}
        </figure>
      </div>
      <div style="min-width: 0;" class="font-mono truncate">
        {{webhookConfig.url}}
      </div>
    </div>
    <div>
      {{form-fields/checkbox
        property="deliveryEnabled"
        changeset=changeset
        title="Enabled"
        validateProperty=(action "validateProperty" changeset "deliveryEnabled")
        checkedValue=true
        uncheckedValue=false
        toggle=true
      }}
    </div>
  </div>

  <div class="p-2 bg-gray-000 rounded border mb-2">
    {{form-fields/input
      property="url"
      title="Delivery URL"
      subtitle="The full URL (including https:// or http://) that will receive webhook events"
      changeset=changeset
      validateProperty=(action "validateProperty" changeset "url")
    }}

    {{form-fields/input
      property="authToken"
      title="Authorization Token"
      subtitle="Token to send in the X-Percy-Token HTTP header to allow you to verify the authenticity of requests"
      changeset=changeset
      validateProperty=(action "validateProperty" changeset "authToken")
    }}

    {{form-fields/input
      property="description"
      title="Description"
      subtitle="A description to help identify this in the future"
      hint="optional"
      changeset=changeset
      validateProperty=(action "validateProperty" changeset "description")
    }}

    {{form-fields/checkbox-set
      property="subscribedEvents"
      changeset=changeset
      validateProperty=(action "validateProperty" changeset "subscribedEvents")
      title="Events"
      subtitle="The event name will be sent in the X-Percy-Event HTTP header and event property of the webhook payload. See the webhook documentation for a description of each type of payload."
      hint="choose at least one"
      allValues=allValues
    }}

    {{form-fields/checkbox
      property="sslVerificationEnabled"
      changeset=changeset
      title="SSL verification enabled"
      subtitle="Whether to verify the SSL certificate presented by the delivery host."
      validateProperty=(action "validateProperty" changeset "sslVerificationEnabled")
      checkedValue=true
      uncheckedValue=false
      toggle=true
    }}

    {{#unless changeset.sslVerificationEnabled}}
      <div class="rounded bg-yellow-000 border border-yellow-100 p-2">
        <strong>Warning:</strong>
        With SSL verification disabled, we will not verify the validity of the
        certificate presented by your host. This could compromise the security
        of your data. Disabling certificate verification is not recommended.
      </div>
    {{/unless}}
  </div>
  <div class="flex justify-end">
    {{#link-to "organization.project.settings" model.project}}
      <button type="button" class="btn btn-secondary">Back</button>
    {{/link-to}}

    {{form-fields/submit
      value=saveText
      classes="btn btn-primary shadow-purple-lg mb-0 ml-1"
      submit=(action "save")
    }}
  </div>
</form>
