<td class="font-semibold p-1 pl-2">{{rowTitle}}</td>
<td class="text-center text-gray-500 p-1">
  {{#if isStartupPlansTruthy}}
    {{inline-svg "check-startup"}}
  {{else if (get plans.startupPlans.firstObject field)}}
    {{get plans.startupPlans.firstObject field}}
  {{else}}
  -
  {{/if}}
</td>
<td class="text-center text-gray-500 p-1">
  {{#if isBusinessPlanTruthy}}
    {{inline-svg "check-business"}}
  {{else if (get plans.businessPlan field)}}
    {{get plans.businessPlan field}}
  {{else}}
  -
  {{/if}}
</td>
<td class="text-center text-gray-500 p-1">
  {{#if isEnterprisePlanTruthy}}
    {{inline-svg "check-enterprise"}}
  {{else if (get plans.enterprisePlan field)}}
    {{get plans.enterprisePlan field}}
  {{else}}
  -
  {{/if}}
</td>
