<div class="sticky pin-t bg-white border-b z-1">
  <div class="flex flex-wrap justify-between items-center py-3 px-4">
    <div>
      <h2 class="mr-2 mb-sm text-xl md:text-2xl font-semibold leading-none">{{capitalize organization.name}} users</h2>
      <p class="mb-0 leading-none">You’ve used {{users.length}} of NOT SURE seats available. If you need more, head to your billing page.</p>
      <p>{{organization.availableSeatsText}}</p>
    </div>
    {{#link-to "organizations.organization.users.invite" organization.slug classNames="percy-btn percy-btn-primary"}}
      Invite new user
    {{/link-to}}
  </div>
  <div class="flex px-4 mb-sm">
    <div style="min-width: 200px" class="flex-1 text-sm text-gray-300 font-semibold">Name</div>
    <div style="min-width: 100px" class="flex-1 text-sm text-gray-300 font-semibold">Role</div>
    <div class="flex-1 text-sm text-gray-300 font-semibold">Joined on</div>
    <div class="flex-2 text-sm text-gray-300 font-semibold">Actions</div>
  </div>
</div>

<section class="bg-gray-pattern pb-9">
  <div class="px-4 pt-2 pb-sm text-sm text-gray-300 font-semibold border-b">{{invites.length}} Pending invitations</div>
  {{#each invites as |invite|}}
    {{organizations/invite-card
      invite=invite
      organization=organization
    }}
  {{/each}}

  <div class="px-4 pt-2 pb-sm text-sm text-gray-300 font-semibold border-b">{{users.length}} Active members</div>
  {{#each users as |organizationUser|}}
    {{organizations/user-card organizationUser=organizationUser}}
  {{/each}}
</section>
