<section class="border-b border-purple-300 mt-9 pb-9 pt-9 marketing-content-block">
  <div class="container container-lg">
    <div class="grid {{if (not block.isImageCentered) "col-2"}}">
      {{#if block.isLeftAlignedImagePresent}}
        <div class="self-center text-left">
          <img src="{{block.imageUrl}}" alt={{block.imageDescription}}>
        </div>
      {{/if}}
      <div class="grid content-center {{if block.isImageCentered "text-center"}}">
        <div>
          {{#if block.isCenterAlignedImagePresent}}
            <img src="{{block.imageUrl}}" alt={{block.imageDescription}} style="height: 416px;">
          {{/if}}
          {{#if block.superheader}}
            <h6 class="uppercase half-underline inline-block py-sm mb-2 text-sm font-bold text-gray-300 tracking-wide border-t">
              {{block.superheader}}
            </h6>
          {{/if}}

          {{#if block.header}}
            <h3 class="text-4xl font-bold leading-none">
              {{block.header}}
            </h3>
          {{/if}}

          {{#if block.subheader}}
            <p class="">
              {{md-text text=block.subheader}}
            </p>
          {{/if}}

          {{#if block.bodyText}}
            <p class="content-block-body-text">
              {{md-text text=block.bodyText}}
            </p>
          {{/if}}
        </div>

        {{#if (and block.callToActionText block.callToActionLink)}}
          <div class="grid content-center mb-9">
            <a class="btn" href="{{block.callToActionLink}}">{{block.callToActionText}} ></a>
          </div>
        {{/if}}
      </div>

      {{#if block.isRightAlignedImagePresent}}
        <div class="self-center text-right">
          <img src="{{block.imageUrl}}" alt={{block.imageDescription}}>
        </div>
      {{/if}}

    </div>

    {{#if block.supportingTextSections}}
      <div class="grid col-3 gap-4 mb-9 {{if (not block.mainImage) "mt-4"}}">
        {{#each block.supportingTextSections as |supportingText|}}

          <div class="content-block-supporting-text-section">
            {{#if supportingText.supportingContentImageIcon.file.url}}
              <img src="{{supportingText.supportingContentImageIcon.file.url}}">
            {{/if}}

            {{#if supportingText.header}}
              <div class="font-semibold text-lg">
                {{supportingText.header}}
              </div>
            {{/if}}

            {{#if supportingText.bodyText}}
              {{md-text text=supportingText.bodyText}}
            {{/if}}
          </div>
        {{/each}}
      </div>
    {{/if}}

  </div>
</section>
