<section class="border-b border-purple-300 pt-8 pb-4 md:py-16 {{block.classes}}">
  <div class="container-lg">
    <div class="md:flex items-center {{if block.isImageRightAligned "flex-row-reverse"}} {{if block.isImageCentered "flex-col"}}">
      {{#if block.isImagePresent}}
        <div class="flex-1 text-center">
          <img src="{{block.imageUrl}}" alt={{block.imageDescription}}>
        </div>
      {{/if}}
      <div class="flex-1 mb-6 md:mb-0">
        {{#if block.superheader}}
          <div class="text-center content-block-superheader">
            <h6 class="uppercase inline-block py-sm mb-2 text-sm font-bold text-gray-300 tracking-wide border-b">
              {{block.superheader}}
            </h6>
          </div>
        {{/if}}

        {{#if block.header}}
          <h3 class="text-center text-2xl md:text-3xl lg:text-4xl font-bold leading-none mb-2 content-block-header">
            {{block.header}}
          </h3>
        {{/if}}

        {{#if block.subheader}}
          <div class="content-block-subheader text-gray-400 text-center mb-2 pt-2">
            {{md-text text=block.subheader}}
          </div>
        {{/if}}

        {{#if block.bodyText}}
          <div class="content-block-bodytext">
            {{md-text text=block.bodyText}}
          </div>
        {{/if}}

        {{#if (and block.isFullCTAPresent (is-empty block.supportingTextSections))}}
          <div class="content-block-cta text-center mb-4 {{if block.isImagePresent "lg:text-left"}}">
            <a class="
                rounded
                border
                border-purple-300
                px-2
                py-1
                text-purple-600
                font-bold
                hover:bg-purple-100
                hover:text-purple-600
                hover:no-underline" href="{{block.callToActionLink}}">
              {{block.callToActionText}}
            </a>
          </div>
        {{/if}}
      </div>
    </div>

    {{#if block.supportingTextSections}}
      <div class="md:flex md:flex-wrap md:justify-center mb-1 {{if (not block.mainImage) "mt-4"}}">
        {{#each block.supportingTextSections as |supportingText|}}

          <div class="mb-3 {{concat "px-2 md:w-1/" numSupportingTextColumns}}">
            {{#if supportingText.supportingContentImageIcon.file.url}}
              <div class="content-block-supporting-image">
                <img src="{{supportingText.supportingContentImageIcon.file.url}}">
              </div>
            {{/if}}

            {{#if supportingText.header}}
              <div class="font-semibold text-xl content-block-supporting-text-header">
                {{supportingText.header}}
              </div>
            {{/if}}

            {{#if supportingText.bodyText}}
              <div class="content-block-supporting-text-body">
                {{md-text text=supportingText.bodyText}}
              </div>
            {{/if}}
          </div>
        {{/each}}
      </div>
    {{/if}}

    {{#if (and block.isFullCTAPresent (not (is-empty block.supportingTextSections)))}}
      <div class="content-block-cta text-center {{if block.isImagePresent "lg:text-left"}}">
        <a class="inline-block rounded border border-purple-300 px-2 py-1 text-purple-600 font-bold hover:bg-purple-100 hover:text-purple-600 hover:no-underline" href="{{block.callToActionLink}}">
          {{block.callToActionText}}
        </a>
      </div>
    {{/if}}

  </div>
</section>
