<section class="bg-light-purple-gradient-pattern py-8">
  <div class="container-lg lg:flex flex-1 items-center">
    <div class="flex-1">
      <div class="mb-3 lg:mb-0">
        {{#if content.largerText}}
          <div class="text-2xl font-semibold text-white">
            {{content.largerText}}
          </div>
        {{/if}}

        {{#if content.smallerText}}
          <p class="text-lg mb-0 text-white">
            {{content.smallerText}}
          </p>
        {{/if}}
      </div>
    </div>
    <div class="btn-toolbar flex flex-1 lg:justify-end">
      {{#if (and content.secondaryButtonText content.secondaryButtonLink)}}
        <a href="{{content.secondaryButtonLink}}" class="btn-md flex items-center justify-center border border-purple-600 rounded link-white">
          {{content.secondaryButtonText}}
        </a>
      {{/if}}
      <a href="{{content.primaryButtonLink}}" class="btn btn-white btn-md flex items-center text-center border border-purple-100 px-2 py-1">
        {{content.primaryButtonText}}
      </a>
    </div>
  </div>
</section>
