<section class="bg-light-purple-gradient-pattern py-8 border-t">
  <div class="lg:flex container-lg">
    <div class="flex-1 items-center">
      <div>
        {{#if content.largerText}}
          <div class="text-2xl font-semibold text-white">
            {{content.largerText}}
          </div>
        {{/if}}

        {{#if content.smallerText}}
          <p class="text-lg mb-0 text-white">
            {{content.smallerText}}
          </p>
        {{/if}}
      </div>
    </div>
    <div class="flex-1 lg:text-right mt-3 lg:mt-0">
      <a href="{{content.primaryButtonLink}}" class="btn btn-alt btn-md">
        {{content.primaryButtonText}}
      </a>
      {{#if (and content.secondaryButtonText content.secondaryButtonLink)}}
        <a class="btn btn-purple btn-md border border-purple-100 px-2 py-1" href="{{content.secondaryButtonLink}}">
          {{content.secondaryButtonText}}
        </a>
      {{/if}}
    </div>
  </div>
</section>
