<header class="marketing-header bg-purple-000 border-b border-purple-300 overflow-hidden lg:overflow-visible {{classes}} {{unless image.file.url "-mb-4 lg:-mb-6"}}">
  <div class="relative container-xl pb-8">
    <div style="bottom: -178px; left: -48px;" class="absolute">
      {{inline-svg "marketing/bubbles-1"}}
    </div>
    <div style="top: 64px; left: 128px;" class="absolute">
      {{inline-svg "marketing/bubbles-2" class="absolute pin-t"}}
    </div>
    <div style="top: 128px; right: 128px;" class="absolute">
      {{inline-svg "marketing/bubbles-3" class="absolute pin-r"}}
    </div>
    <div style="bottom: -178px; right: -48px;" class="absolute">
      {{inline-svg "marketing/bubbles-4"}}
    </div>
    {{marketing/menu-bar
      logomark=logomark
    }}
    {{yield}}
  </div>
</header>

{{#if image.file.url}}
  <div class="hero-main-image flex items-center relative container-lg">
    <img src="{{image.file.url}}">
  </div>
{{/if}}
