<section class="container-lg border-b pt-8 pb-4 md:py-16">
  <table class="w-full" style="table-layout: fixed;">
    <thead>
      <th class="sticky bg-white py-1">{{tableHeader.rowTitle}}</th>

      <th class="sticky bg-white py-1 text-green-500">
        {{#if tableHeader.smallCell}}
          {{tableHeader.smallCell}}
        {{/if}}
      </th>

      <th class="sticky bg-white py-1 text-orange-500">
        {{#if tableHeader.mediumCell}}
          {{tableHeader.mediumCell}}
        {{/if}}
      </th>

      <th class="sticky bg-white py-1 text-purple-600">
        {{#if tableHeader.largeCell}}
          {{tableHeader.largeCell}}
        {{/if}}
      </th>
    </thead>

    <tbody class="pricing-feature-table">
      {{#each table.pricingTableRows as |row index|}}
        {{#if (gt index 0)}}
          {{marketing/pricing-table-row row=row}}
        {{/if}}
      {{/each}}
    </tbody>

  </table>
</section>
