{{!-- TODO: #billingadmins --}}
<section class="px-2 pt-3">
  {{#unless (or isUserOrgAdmin (is-admin))}}
    <div class="Alert Alert--error">
      <strong>Changing billing settings requires organization admin permissions.</strong>
    </div>
  {{else}}
    {{#if (and (not isUserOrgAdmin) (is-admin))}}
      <div class="bg-red-300 p-1 mt-1 mb-3 text-center font-bold" style="background: linear-gradient(to right, var(--red-100) 25%, var(--red-300) 100%, var(--red-800) 50%);">
         This page is only visible to you as a Percy superuser with admin mode enabled.
      </div>
    {{/if}}
    <section>
      <div class="bg-white rounded shadow-1" style="min-height: 363px;">
        <div class="flex items-center justify-between p-6">
          <div class="flex items-center text-5xl">
            {{inline-svg 'comparison-icon-lg' class="mr-2"}}
            <div>
              <div class="leading-none">
                {{#if subscription.currentUsageStats.total}}
                  {{format-number subscription.currentUsageStats.total}}
                {{else}}
                  …
                {{/if}}
              </div>
              <div class="text-sm text-gray-400 font-semibold">
                Snapshots since {{moment-format subscription.currentPeriodStart 'MMMM D'}}
              </div>
            </div>
          </div>
          <div class="text-right">
            <div class="font-semibold">
              {{moment-format subscription.currentPeriodStart 'MMMM D, YYYY'}} - {{moment-format subscription.currentPeriodEndDisplayed
              'MMMM D, YYYY'}}
            </div>
            <span class="text-sm font-bold bg-purple-600 text-white text-right py-sm px-1" style="border-radius: 11px;">
              Current Billing Period
            </span>
          </div>
        </div>
        {{organizations/billing-usage-graph organization=organization}}
      </div>

      {{#unless (or organization.billingLocked organization.subscription.plan.isCustom)}}
        <div class="bg-white rounded shadow-1 p-2 mb-2">
          <h2 class="text-xl font-semibold mb-1">Current billing period</h2>
          <div class="rounded border py-2 bg-gray-000">
            {{#if isCurrentUsageStatsLoading}}
              <div class="flex justify-center px-2">
                <figure class="svg-container">
                  {{inline-svg "loader-icon"}}
                </figure>
              </div>
            {{else}}
              <div class="border-b pb-2 px-2 font-semibold">
                <span class="text-2xl">
                  {{format-currency subscription.currentUsageStats.currentCostDollars}}
                </span>
                <span class="text-lg text-gray-300">
                  current estimated costs
                </span>
              </div>
              <div class="flex items-center pt-2 px-2 font-semibold">
                {{inline-svg "comparison-icon" class="mr-1"}}
                <span class="text-base mr-sm">{{subscription.currentUsageStats.total}}</span>
                <span class="text-gray-300">current snapshots</span> {{snapshot-explanation-tooltip}}
              </div>
            {{/if}}
          </div>
        </div>
      {{/unless}}

      {{organizations/subscription-list
        organization=organization
      }}

      {{!-- TODO: #billingadmins --}}
      <div class="bg-white rounded shadow-1 p-2 mb-2">
        <h2 class="text-xl font-semibold mb-1">Invoice Settings</h2>
        {{forms/billing-edit subscription=subscription}}
      </div>

      {{#if subscription.isCustomer}}
        <div class="bg-white rounded shadow-1 p-2 mb-2">
          <h2 class="text-xl font-semibold mb-1">Billing Details</h2>
          {{organizations/billing-card-updater
            organization=organization
          }}
        </div>
      {{/if}}
    </section>
  {{/unless}}
</section>
