{{#if isSaving}}
  {{saving-indicator
    isSaving=isSaving
    isSaveSuccessful=isSaveSuccessful
  }}
{{else if shouldShowCardInput}}
  {{#stripe-card
    options=options
    change=(action 'checkCard')
    as |stripeElement stripeError|}}
    {{#if stripeError}}
      <p class="error">{{stripeError.message}}</p>
    {{/if}}
    <div class="flex justify-end mt-2">
      <button class="btn btn-primary btn-shadow-purple" {{action 'updateCreditCard' stripeElement}} disabled={{if (not shouldShowSubmit) "disabled"}}>Update Card</button>
    </div>
  {{/stripe-card}}
{{else}}
  <button class="btn btn-primary btn-shadow-purple" onclick={{action 'showCardInput'}}>Update Credit Card</button>
{{/if}}
