{{!-- TODO: #billingadmins --}}
<section class="px-2 pt-3">
  {{#unless (or isUserOrgAdmin (is-admin))}}
    <div class="Alert Alert--error">
      <strong>Changing billing settings requires organization admin permissions.</strong>
    </div>
  {{else}}
    {{#if (and (not isUserOrgAdmin) (is-admin))}}
      <div class="bg-red-300 p-1 mt-1 mb-3 text-center font-bold" style="background: linear-gradient(to right, var(--red-100) 25%, var(--red-300) 100%, var(--red-800) 50%);">
         This page is only visible to you as a Percy superuser with admin mode enabled.
      </div>
    {{/if}}
    <section>
      <div class="bg-white rounded shadow-1" style="min-height: 363px;">
        <div class="flex items-center justify-between p-6">
          <div class="flex items-center text-5xl">
            {{inline-svg 'comparison-icon-lg' class="mr-2"}}
            <div>
              <div class="leading-none">
                {{#if subscription.currentUsageStats.total}}
                  {{format-number subscription.currentUsageStats.total}}
                {{else}}
                  …
                {{/if}}
              </div>
              <div class="text-sm text-gray-400 font-semibold">
                Visual validations since {{moment-format subscription.currentPeriodStart 'MMMM D'}}
              </div>
            </div>
          </div>
          <div class="text-right">
            <div class="font-semibold">
              {{moment-format subscription.currentPeriodStart 'MMMM D, YYYY'}} - {{moment-format subscription.currentPeriodEndDisplayed
              'MMMM D, YYYY'}}
            </div>
            <span class="text-sm font-bold bg-purple-600 text-white text-right py-sm px-1" style="border-radius: 11px;">
              Current Billing Period
            </span>
          </div>
        </div>
        {{organizations/billing-usage-graph organization=organization}}
      </div>


      {{#if organization.billingLocked}}
        <div class="active">
          <div class="row">
            <div class="three columns">
              {{subscription.plan.name}}
            </div>
            <div class="nine columns">
              You are on a custom billing plan, please <a href="#" {{action "showSupport"}}>reach out</a> with any questions about changing your billing plan.
            </div>
          </div>
        </div>
      {{else}}
        <h1 class="text-xl font-semibold mb-sm">
          Total monthly usage
          {{#if subscription.isCustomer}}
            {{!-- TODO: remove this, show billing period always after legacy capped monthly users are migrated. --}}
            {{#if subscription.plan.allowOverages}}
              <span>
                {{moment-format subscription.currentPeriodStart 'MMMM D'}} to
                {{moment-format subscription.currentPeriodEndDisplayed 'MMMM D'}}
              </span>
            {{/if}}
          {{/if}}
        </h1>
        <div class="text-gray-400 w-3/4">
          Current usage:
          {{#if subscription.currentUsageStats}}
            <strong class="text-gray-700">{{format-number subscription.currentUsageStats.total}} visual validations</strong>
          {{else}}
            ...
          {{/if}}
        </div>

        {{organizations/subscription-chooser
          organization=organization
          changingSubscription=(action "changingSubscription")
          transitionToEnterpriseForm=transitionToEnterpriseForm
        }}

        {{!-- TODO: #billingadmins --}}
        <div class="bg-white rounded shadow-1 p-2 mb-2">
          <h2 class="text-xl font-semibold mb-1">Invoice Settings</h2>
          {{forms/billing-edit subscription=subscription}}
        </div>

        {{#if subscription.isCustomer}}
          <div class="bg-white rounded shadow-1 p-2 mb-2">
            <h2 class="text-xl font-semibold mb-1">Billing Details</h2>
            {{organizations/billing-card-updater
              organization=organization
            }}
          </div>
        {{/if}}

      {{/if}}
    </section>
  {{/unless}}
</section>
