{{#if currentIntegration}}
  {{organizations/github-integration organization=organization}}
{{else}}
  {{#if organization.githubIntegrationRequest}}
    {{organizations/github-integration
      organization=organization
      cancelIntegrationRequest=(action "cancelIntegrationRequest")
    }}
  {{else}}
    <div class="mb-2">
      <a
        data-test-github-app-install-button
        href="{{githubIntegrationUrl}}"
        class="Button Button--primary Button--withLeftIcon"
        target="_blank"
        rel="noopener"
        {{action "triggerInstallation"}}>
        {{fa-icon "github" classNames="fa--left"}}
        Install GitHub App
      </a>
    </div>

    <div class="rounded bg-yellow-000 border border-yellow-100 p-2">
      <strong>Note:</strong> GitHub requires that you have the "owner" role in an organization to add integrations.
    </div>
  {{/if}}
{{/if}}
