{{#if currentIntegration}}
  <div data-test-github-app-install-success class="flex items-center justify-between pl-3 mb-2">
    <div class="flex items-center">
      {{inline-svg 'percy-logo-on-light' class="mr-2"}}
      <div class="text-xl font-semibold">Installed!</div>
    </div>
    <div class="OrganizationsGithubIntegration-actions">
      <a href="{{currentIntegration.githubHtmlUrl}}" class="btn" target="_blank" rel="noopener">
        {{fa-icon "github" classNames="fa--left"}} Manage
      </a>
    </div>
  </div>
  <div class="rounded bg-yellow-000 border border-yellow-100 p-2">
    <strong>Reminder:</strong> Each project must be linked to a GitHub repository for <strong>{{#link-to "docs.page" "learn/github-integration"}}Pull Request integration{{/link-to}}</strong> to work. You can verify the link in each project's settings.
  </div>

{{else if organization.githubIntegrationRequest}}
  <div data-test-github-app-install-loading class="flex items-center justify-between pl-2 mb-2">
    <div class="flex items-center">
      {{fa-icon "fa-spinner fa-pulse" size="2" classNames="mr-2"}}
      <div class="text-xl font-semibold">Waiting for installation...</div>
    </div>
    <div class="OrganizationsGithubIntegration-actions">
      <a href="#" class="btn" {{action "cancelIntegrationRequest"}}>Cancel</a>
    </div>
  </div>
  <div class="rounded bg-yellow-000 border border-yellow-100 p-2">
    Waiting for <strong>{{organization.githubIntegrationRequest.createdBy.name}}</strong> to install Percy in GitHub.
  </div>
{{/if}}
