<div data-test-user-card class="user-card bg-white border-b">
  <div class="px-4 py-3 flex items-center">
    <div style="min-width: 200px" class="flex flex-1 items-center pr-2">
      {{gravatar-image
        class="rounded-full overflow-hidden flex-none mr-2"
        defaultImage="mp"
        email=invite.email
        size=36
      }}
      <div class="font-semibold truncate leading-none">
        {{invite.email}}
      </div>
    </div>
    <div style="min-width: 100px" class="flex-1 leading-none">
      <LabelTag @primary-tag={{eq "Administrator" invite.roleTitle}}>
        {{invite.roleTitle}}
      </LabelTag>
    </div>
    <div class="flex-1 leading-none text-gray-400">
      <div>Invited on {{moment-format invite.createdAt 'MMMM d, Y'}}</div>
      <div>By {{invite.inviterName}}</div>
      <div><i>Expires {{moment-format invite.expiresAt 'MMMM d, Y'}}</i></div>
    </div>
    <div class="flex-2 flex justify-end">
      <div class="btn-toolbar">
        {{#copy-button
          clipboardText=invite.inviteLink
          success=(action "onCopyInviteUrlToClipboard")
          class="percy-btn"
          disabled=(unless isAdmin true)
        }}
          Copy invite link
        {{/copy-button}}
        {{#percy-btn disabled=(unless isAdmin true) onTap=(action "cancelInvite")}}
          Cancel
        {{/percy-btn}}
      </div>
    </div>
  </div>
</div>
