<div class="settings-nav-wrapper flex relative" data-test-organizations-settings-nav-wrapper>
  <aside class="settings-sidebar h-screen-header overflow-y-scroll flex-no-shrink sticky pin-t pt-3 border-r" data-test-sidenav>
    <section class="border-b border-gray-000 mb-3">
      <ul class="list-reset mb-2">
        <li class="mb-0">
          {{#link-to "organizations.organization.settings" organization.slug class="block py-1 px-4 link-gray font-semibold data-test-sidenav-settings"}}Settings{{/link-to}}
        </li>
        <li class="mb-0">
          {{#link-to "organizations.organization.billing" organization.slug class="block py-1 px-4 link-gray font-semibold data-test-sidenav-billing"}}Billing{{/link-to}}
        </li>
        <li class="mb-0">
          {{#link-to "organizations.organization.integrations" organization.slug class="block py-1 px-4 link-gray font-semibold"}}Integrations{{/link-to}}
        </li>
        <li class="mb-0">
          {{#link-to "organizations.organization.users" organization.slug class="block py-1 px-4 link-gray font-semibold data-test-sidenav-users"}}Users{{/link-to}}
        </li>
      </ul>
    </section>
    <section>
      <ul class="list-reset pb-4 mb-0" data-test-sidenav-list-projects>
        {{#each (sort-by "name" enabledProjects) as |project|}}
          <li class="flex items-center mb-2" data-test-sidenav-list-item>
            {{#link-to "organization.project.settings" organization.slug project.slug classNames="block px-4 link-gray font-semibold truncate"}}
              {{project.name}}
            {{/link-to}}
          </li>
        {{/each}}
        {{#if archivedProjects}}
          <li class="items-center mb-2">
            <div class="flex items-center cursor-pointer px-4 font-semibold truncate opacity-25" {{action (toggle "isArchivedProjectsShowing" this)}} data-test-toggle-archived-projects>
              <span class="mr-1">Archived Projects</span>
              <figure class="svg-container trans-transform {{if isArchivedProjectsShowing "animate-rotate-180"}}">
                {{inline-svg "dropdown-icon"}}
              </figure>
            </div>
          </li>

          {{#if isArchivedProjectsShowing}}
            {{#each (sort-by "name" archivedProjects) as |archivedProject|}}
              <li class="mb-2" data-test-sidenav-list-item>
                {{#link-to "organization.project.settings" organization.slug archivedProject.slug classNames="block px-4 link-gray font-semibold truncate opacity-25"}}
                  {{archivedProject.name}}
                {{/link-to}}
              </li>
            {{/each}}
          {{/if}}
        {{/if}}

        <li class="px-4">
          {{#link-to "organizations.organization.projects.new" organization.slug classNames="font-semibold"}}Create new project{{/link-to}}
        </li>
      </ul>
    </section>
  </aside>

  <main class="flex-1 bg-gray-000">
    {{yield}}
  </main>
</div>
