{{#unless (eq planData.id "free")}}
  <div class="border-b p-2" data-test-subscription-list-item>
    <div class="pr-2 text-xl font-semibold">
      {{planData.name}}
    </div>
    <div class="flex">
      <div class="flex-1 pr-2">
        <div>
          {{planData.numTeamMembersTitle}}
        </div>
        <div>
          {{planData.numWorkersTitle}}
        </div>
          <div>
          {{#if planData.numDiffs}}
            {{format-number planData.numDiffs}}
          {{else if planData.numDiffsTitle}}
            {{planData.numDiffsTitle}}
          {{/if}}
          snapshots {{snapshot-explanation-tooltip}}
        </div>
      </div>
      <div style="max-width: 150px" class="flex-1 pr-2">
        {{#if planData.monthlyPrice}}
          <strong><span>$</span>{{format-number planData.monthlyPrice precision=0}}</strong> / month
        {{/if}}
        <br>
        {{#if planData.extraDiffPrice}}
          ${{planData.extraDiffPrice}} / extra snapshot
        {{/if}}
      </div>
      <div style="max-width: 150px" class="flex-1 pr-2 flex items-start justify-end">
        {{#if (eq "admin" organization.currentUserMembership.role)}}
          <button href="#" class="btn btn-primary shadow-purple-lg mb-0 {{if isSaving "is-loading"}}" disabled={{isActivePlan}} {{action "handleSubscriptionSelection"}} data-test-subscription-list-item-choose-subscription>
            {{subscriptionButtonText}}
          </button>
        {{/if}}
      </div>
    </div>

    {{#if shouldShowCardInput}}
      {{#if isNotSaving}}
        <div class="py-2 pr-2 flex">
          <div class="flex-1">
            {{#stripe-card
              data-test-subscription-list-item-stripe-card
              options=options
              change=(action 'checkCard')
              as |stripeElement stripeError|}}
              {{#if stripeError}}
                <p class="error">{{stripeError.message}}</p>
              {{/if}}
              <div class="flex justify-end mt-2">
                <button class="btn" {{action "hideCardInput"}}>Cancel</button>
                <button class="btn btn-primary btn-shadow-purple ml-1" {{action 'updateCreditCard' stripeElement planData.id}} disabled={{if (not shouldShowSubmit) "disabled"}}>Update Card</button>
              </div>
            {{/stripe-card}}
          </div>
        </div>
      {{/if}}
    {{/if}}
  </div>
{{/unless}}
