{{#unless (eq planData.id "free")}}
  <div class="border-b px-2 pb-2 subscription-chooser-list">
    <div class="pr-2 text-xl font-semibold">
      {{planData.name}}
    </div>
    <div class="flex">
      <div class="flex-1 pr-2">
        <div>
          {{planData.numTeamMembersTitle}}
        </div>
        <div>
          {{planData.numWorkersTitle}}
        </div>
          <div>
          {{#if planData.numDiffs}}
            {{format-number planData.numDiffs}}
          {{else if planData.numDiffsTitle}}
            {{planData.numDiffsTitle}}
          {{/if}}
          visual validations
        </div>
      </div>
      <div style="max-width: 150px" class="flex-1 pr-2">
        {{#if planData.monthlyPrice}}
          <strong><span>$</span>{{format-number planData.monthlyPrice precision=0}}</strong> / month
        {{/if}}
        <br>
        {{#if planData.extraDiffPrice}}
          ${{planData.extraDiffPrice}} / extra validation
        {{/if}}
      </div>
      <div style="max-width: 150px" class="flex-1 pr-2 flex items-start justify-end">
        <a href="#" class="btn btn-primary shadow-purple-lg mb-0" {{action "handleSelection"}}>{{selectButtonText}}</a>
      </div>
    </div>
  </div>
{{/unless}}
