<div class="OrganizationsSwitcherNav-item mr-3" {{action "toggleSwitcher"}} data-test-toggle-org-switcher>
  {{#if currentOrganization}}
    {{currentOrganization.name}}
  {{else}}
    Jump to org<span class="u-hide-on-mobile">anization</span>
  {{/if}}
  {{#if isTransparentHeader}}
    {{inline-svg "dropdown-icon" class="ml-sm"}}
  {{else}}
    {{inline-svg "dropdown-light-icon" class="ml-sm"}}
  {{/if}}
</div>
{{#if isExpanded}}
  <div class="PageClickOverlay" {{action "hideSwitcher"}}></div>
  <div class="OrganizationsSwitcherNav-arrow">{{fa-icon "caret-up"}}</div>
  <div class="OrganizationsSwitcherNav-switcher" {{action "hideSwitcher"}}>
    {{#link-to "organizations.new" classNames="Button Button--onDark Button--withLeftIcon"}}
      {{fa-icon "plus-circle fa--left"}} Create new organization
    {{/link-to}}
    {{#if isOrganizationsLoading}}
      {{loading-page}}
    {{else}}
      <ul>
        {{#each userOrganizations as |org|}}
          <li data-test-org-switcher-item>
            {{#link-to "organization.index" org.slug classNames="OrganizationsSwitcherNav-item"}}
              {{org.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
    {{/if}}
  </div>
{{/if}}
