<div class="bg-white border-b z-1" data-test-users-header>
  <div class="flex flex-wrap justify-between items-center py-3 px-4">
    <div>
      <h2 class="mr-2 mb-sm text-xl md:text-2xl font-semibold leading-none"><span data-test-organization-name>{{capitalize organization.name}}</span> users</h2>
      <p class="mb-0 leading-none">
        <span data-test-seat-count-text>You’ve used {{organization.seatsUsed}} of {{organization.seatLimit}} seats available.</span>
        Head to your {{#link-to "organizations.organization.billing" organization.slug data-test-billing-link class="py-1 font-semibold"}}Billing page{{/link-to}} to add more users.
        <br />
        If you have any questions about user management <a class="font-semibold" href="#" {{action "showSupport"}} data-test-users-show-support>let us know!</a>
      </p>
    </div>
    {{#link-to "organizations.organization.users.invite" organization.slug class="percy-btn percy-btn-primary" disabled=disableInviteButton}}
      Invite new user
    {{/link-to}}
  </div>

  {{#if showInviteForm}}
    <div class="px-4 mb-4">
      {{forms/organization-invite organization=organization}}
    </div>
  {{/if}}

  <div class="flex px-4 mb-sm">
    <div style="min-width: 200px" class="flex-1 text-sm text-gray-300 font-semibold pr-2">Name</div>
    <div style="min-width: 100px" class="flex-1 text-sm text-gray-300 font-semibold">Role</div>
    <div class="flex-1 text-sm text-gray-300 font-semibold">Joined on</div>
    <div class="flex-1"></div>
  </div>
</div>
