<div data-test-user-card class="user-card bg-white border-b">
  <div class="px-4 py-3 flex items-center">
    <div class="flex flex-1 items-center">
      {{user-avatar user=organizationUser.user linked=true class="mr-2"}}
      {{organizationUser.user.name}}
      {{organizationUser.user.email}}
    </div>
    <div class="flex-1 leading-none font-semibold">
      {{organizationUser.roleTitle}}
    </div>
    <div class="flex-1 leading-none text-gray-400">
      Joined on date
    </div>
    <div class="flex-2 flex justify-end">
      <div class="btn-toolbar">
        {{#if (eq organizationUser.user.id currentUser.id)}}
          <PercyBtn>Leave organization</PercyBtn>
        {{else}}
          <PercyBtn @disabled={{unless (eq "admin" organizationUser.organization.currentUserMembership.role) true}}>Make member</PercyBtn>
          <PercyBtn @disabled={{unless (eq "admin" organizationUser.organization.currentUserMembership.role) true}}>Remove</PercyBtn>
        {{/if}}
      </div>
      {{!-- {{#if (eq "admin" organizationUser.organization.currentUserMembership.role)}} --}}
        {{!-- Allow admin to do everything. --}}
        {{!-- {{forms/organization-user-edit organizationUser=organizationUser}} --}}
      {{!-- {{else if (eq organizationUser.user.id currentUser.id)}} --}}
        {{!-- Allow member to view their own record. --}}
        {{!-- {{forms/organization-user-edit organizationUser=organizationUser}} --}}
      {{!-- {{else}} --}}
        {{!-- <div class="Alert Alert--error"> --}}
          {{!-- <strong>Editing users requires organization admin permissions.</strong> --}}
        {{!-- </div> --}}
      {{!-- {{/if}} --}}
    </div>
  </div>
</div>
