<div data-test-user-card class="user-card bg-white border-b">
  <div class="px-4 py-3 flex items-center">
    <div style="min-width: 200px" class="flex flex-1 items-center pr-2">
      <UserAvatar @user={{organizationUser.user}} @class="flex-none mr-2" @tagName="" />
      <div class="font-semibold truncate leading-none">
        {{organizationUser.user.name}}
      </div>
    </div>
    <div style="min-width: 100px" class="flex-1 leading-none">
      <LabelTag @primary-tag={{eq "Administrator" roleTitle}}>
        {{roleTitle}}
      </LabelTag>
    </div>
    <div class="flex-1 leading-none text-gray-400">
      {{moment-format organizationUser.createdAt 'MMMM d, Y'}}
    </div>
    <div class="user-card-actions opacity-0 flex-2 flex justify-end">
      <div class=" btn-toolbar">
        {{#if isCurrentUser}}
          {{#percy-btn onTap=(action "removeUser")}}
            Leave organization
          {{/percy-btn}}
        {{else}}
          {{#if (eq "member" role)}}
            {{#percy-btn disabled=(unless isAdmin true)  onTap=(action "setRole" "admin")}}
              Make Admin
            {{/percy-btn}}
          {{else}}
            {{#percy-btn disabled=(unless isAdmin true)  onTap=(action "setRole" "member")}}
              Make member
            {{/percy-btn}}
          {{/if}}
          {{#percy-btn disabled=(unless isAdmin true)  onTap=(action "removeUser")}}
            Remove
          {{/percy-btn}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
