<div class="sticky pin-t bg-white border-b z-1">
  <div class="flex flex-wrap justify-between items-center py-3 px-4">
    <div>
      <h2 class="mr-2 mb-sm text-xl md:text-2xl font-semibold leading-none">{{capitalize organization.name}} users</h2>
      <p class="mb-0 leading-none">
        {{organization.availableSeatsText}}
        Head to your
        {{#link-to "organizations.organization.billing" organization.slug class="py-1 link-gray font-semibold"}}
          Billing page
        {{/link-to}}
        to add more users.
      </p>
    </div>
    {{#link-to "organizations.organization.users.invite" organization.slug classNames="percy-btn percy-btn-primary" disabled=disableInviteButton}}
      Invite new user
    {{/link-to}}
  </div>
</div>

<section class="px-2 pt-3">
  {{#if showInviteForm}}
    <div class="bg-white rounded shadow-1 p-2 mb-2">
      <h2 class="text-xl font-semibold mb-1">Invite users to {{capitalize organization.name}}</h2>
      <p class="text-gray-400 w-3/4">
         Separate each email with a space or a new line. Invitations expire after one week.
      </p>
      {{#organizations/require-role role="admin" organization=organization}}
        {{forms/organization-invite organization=organization}}
      {{/organizations/require-role}}
    </div>
  {{else if isInvitePath}}
    <div>
      You do not have any seats available. Please {{#link-to "organizations.organization.billing" organization.slug class="py-1 link-gray font-semibold"}} upgrade your plan {{/link-to}} to add more users.
    </div>
  {{/if}}
</section>
