{{title "Pricing"}}
{{#if (variation "updated-marketing-site")}}
  {{#marketing/marketing-header
    logomark=heroBlock.logomark
    class="pricing-header"
  }}
    {{marketing/hero-block content=heroBlock class="mb-9"}}
  {{/marketing/marketing-header}}
{{else}}
  <header class="bg-gradient-pattern border-b border-purple-300 pb-9" style="margin-bottom: -144px">
    {{fixed-top-header class="mb-9" isTransparentHeader=true}}
    <div class="container container-sm mb-9 text-center">
      <div class="mb-9">
        <h1 class="text-4xl font-bold mb-3">Visual coverage that scales with your business</h1>
      </div>
    </div>
  </header>
{{/if}}

<section class="{{if (not (is-test-env)) "animated-pricing-header"}} md:flex md:items-center container container-lg mb-8">
  <div class="flex-1 md:mr-1 mb-2 md:pt-3">
    <div class="bg-white-gradient-pattern rounded shadow-purple-2 p-2 mb-1">
      <div class="pt-2 px-2">
        <h3 class="font-semibold mb-0 text-xl text-green-500">{{smallCard.name}}</h3>
        <p>{{smallCard.description}}</p>
        <div class="font-semibold pb-3">
          <table class="w-3/4 sm:w-1/2 md:w-full mb-3">
            <thead class="text-gray-300">
              <tr>
                <th></th>
                <th class="text-sm text-left">Snapshots</th>
                <th class="text-sm text-left">Users</th>
              </tr>
            </thead>
            <tbody>
              {{#each tableData.startupPlans as |plan|}}
                <tr>
                  <td>{{plan.name}} <span class="text-gray-300">{{plan.price}}</span></td>
                  <td>{{plan.monthlySnapshotsIncluded}}</td>
                  <td>{{plan.users}}</td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        </div>
        <div class="font-semibold text-gray-500 text-right">
          Starting at <span class="text-green-500 text-2xl">{{smallCard.startingPrice}}</span>/mo
        </div>
      </div>
      {{#link-to "most-recent-org" class="btn btn-md btn-scale btn-green shadow-green-lg w-full text-center data-test-small-pricing-card-cta" }}{{smallCard.callToAction}}{{/link-to}}
    </div>
    <div class="text-gray-300 text-center text-sm">
      14-day free trial. No credit card required.
    </div>
  </div>

  <div class="flex-1 md:mx-1 mb-2">
    <div class="bg-white-gradient-pattern rounded p-2 shadow-purple-2">
      <div class="pt-2 px-2">
        <h3 class="font-semibold mb-0 text-xl text-orange-500">{{mediumCard.name}}</h3>
        <p>{{mediumCard.description}}</p>
        {{#each mediumCard.featureList as |feature|}}
          <div class="font-semibold {{if (eq feature mediumCard.featureList.lastObject) "mb-9"}}">{{feature}}</div>
        {{/each}}
        <div class="font-semibold text-gray-500 text-right">
          Starting at <span class="text-orange-500 text-2xl">{{mediumCard.startingPrice}}</span>/mo
        </div>
      </div>
      {{#if (variation "updated-marketing-site")}}
        {{#link-to 'schedule-demo'}}
          <button type="button" name="button" class="btn btn-md btn-scale btn-orange shadow-orange-lg w-full" data-test-medium-pricing-card-cta>{{mediumCard.callToAction}}</button>
        {{/link-to}}
      {{else}}
        {{#link-to 'enterprise'}}
          <button type="button" name="button" class="btn btn-md btn-scale btn-orange shadow-orange-lg w-full" data-test-medium-pricing-card-cta>{{mediumCard.callToAction}}</button>
        {{/link-to}}
      {{/if}}
    </div>
  </div>

  <div class="flex-1 md:ml-1 mb-2">
    <div class="bg-white-gradient-pattern rounded p-2 shadow-purple-2">
      <div class="pt-2 px-2">
        <h3 class="font-semibold mb-0 text-xl text-purple-600">{{largeCard.name}}</h3>
        <p>{{largeCard.description}}</p>
        {{#each largeCard.featureList as |feature|}}
          <div class="font-semibold {{if (eq feature largeCard.featureList.lastObject) "mb-9"}}">{{feature}}</div>
        {{/each}}
      </div>
      {{#if (variation "updated-marketing-site")}}
        {{#link-to 'schedule-demo'}}
          <button type="button" name="button" class="btn btn-md btn-scale btn-purple shadow-purple-lg w-full" data-test-large-pricing-card-cta>{{largeCard.callToAction}}</button>
        {{/link-to}}
      {{else}}
        {{#link-to 'enterprise'}}
          <button type="button" name="button" class="btn btn-md btn-scale btn-purple shadow-purple-lg w-full" data-test-large-pricing-card-cta>{{largeCard.callToAction}}</button>
        {{/link-to}}
      {{/if}}
    </div>
  </div>
</section>

<section class="container-lg grid col-2 gap-5 mb-8">
  <div>
    <figure class="svg-container mb-2">
      {{inline-svg "coverage"}}
    </figure>
    <h3 class="mb-1 text-xl">Complete visual coverage</h3>
    <p class="f4 text-gray-500">
      We support visual testing for both full web pages and component libraries. Plus, all Percy customers have access to snapshot rendering across browsers and multiple responsive breakpoint widths. Just specify what and how you want to test, and we take care of the rest.
    </p>
  </div>
  <div>
    <figure class="svg-container mb-2">
      {{inline-svg "speed"}}
    </figure>
    <h3 class="mb-1 text-xl">Lightning quick rendering engine</h3>
    <p class="f4 text-gray-500">
      All Percy plans are powered by our custom rendering infrastructure built specifically for the task at hand–generating snapshots at speed–and since Percy handles all rendering of snapshots, there’s zero overhead added to your existing test suite.
    </p>
  </div>
  <div>
    <figure class="svg-container mb-2">
      {{inline-svg "integrations"}}
    </figure>
    <h3 class="mb-1 text-xl">Seamless integrations</h3>
    <p class="f4 text-gray-500">
      With Percy, there are several ways to integrate visual testing into your stack and workflows. We support implementation through test automation frameworks, CI/CD services, or directly with your front end through our library of custom-built and maintained SDKs.
    </p>
  </div>
  <div>
    <figure class="svg-container mb-2">
      {{inline-svg "secure"}}
    </figure>
    <h3 class="mb-1 text-xl">Secure and reliable</h3>
    <p class="f4 text-gray-500">
      Percy’s secure rendering infrastructure is built specifically for consistency and scalability. Our top priorities are keeping your data secure and maintaining 99% uptime SLA, so your testing cycles never slow you down.
    </p>
  </div>
</section>

<section class="container-lg text-center f4 font-semibold mb-8">
  Just need Percy for a small project? {{#link-to 'most-recent-org' class="data-test-free-personal-account"}}Sign up for a free personal account.{{/link-to}}
</section>

<section class="container-lg mb-8">
  <table class="w-full" style="table-layout: fixed;">
    <thead>
      <tr>
        <th class="sticky bg-white py-1"></th>
        <th class="sticky bg-white py-1 text-green-500">Growth</th>
        <th class="sticky bg-white py-1 text-orange-500">Business</th>
        <th class="sticky bg-white py-1 text-purple-600">Enterprise</th>
      </tr>
    </thead>
    <tbody class="pricing-feature-table">

      {{pricing/pricing-table-section-row name="Usage"}}
      {{pricing/pricing-table-boolean-row plans=tableData rowTitle="Unlimited projects" field="unlimitedProjects"}}
      {{pricing/pricing-table-data-row plans=tableData rowTitle="Users" field='users'}}
      {{pricing/pricing-table-data-row plans=tableData rowTitle="Monthly snapshots included" field='monthlySnapshotsIncluded'}}
      {{pricing/pricing-table-data-row plans=tableData rowTitle="Extra snapshots over included amount" field='extraSnapshotPrice'}}
      {{pricing/pricing-table-data-row plans=tableData rowTitle="Historical data" field='historicalData'}}

      {{pricing/pricing-table-section-row name="Rendering"}}
      {{pricing/pricing-table-boolean-row plans=tableData rowTitle="Leading rendering engine with snapshot stabilization" field="snapshotStabilization"}}
      {{pricing/pricing-table-boolean-row plans=tableData rowTitle="Responsive visual testing" field="responsiveTesting"}}
      {{pricing/pricing-table-boolean-row plans=tableData rowTitle="Cross-browser support" field="crossBrowserSupport"}}
      {{pricing/pricing-table-boolean-row plans=tableData rowTitle="Modern browser versions" field="evergreen"}}
      {{pricing/pricing-table-data-row plans=tableData rowTitle="Concurrent renderers" field='concurrentRenderers'}}

      {{pricing/pricing-table-section-row name="Integrations"}}
      {{pricing/pricing-table-boolean-row plans=tableData rowTitle="GitHub" field="github"}}
      {{pricing/pricing-table-boolean-row plans=tableData rowTitle="GitLab" field="gitlab"}}
      {{pricing/pricing-table-boolean-row plans=tableData rowTitle="GitHub Enterprise" field="githubEnterprise"}}
      {{pricing/pricing-table-boolean-row plans=tableData rowTitle="GitLab Enterprise" field="gitlabEnterprise"}}
      {{pricing/pricing-table-data-row plans=tableData rowTitle="BitBucket" field="bitbucket" consolidate=true}}
      {{pricing/pricing-table-boolean-row plans=tableData rowTitle="Webhooks" field="webhooks"}}
      {{pricing/pricing-table-data-row plans=tableData rowTitle="Slack Integration" field="slackIntegration" consolidate=true}}

      {{pricing/pricing-table-section-row name="Support"}}
      {{pricing/pricing-table-data-row plans=tableData rowTitle="Email support" field="emailSupport" consolidate=true}}
      {{pricing/pricing-table-data-row plans=tableData rowTitle="Dedicated guidance & support" field="dedicatedSupport" consolidate=true}}
      {{pricing/pricing-table-data-row plans=tableData rowTitle="SLA" field="sla" consolidate=true}}
      {{pricing/pricing-table-data-row plans=tableData rowTitle="Contract and Service Agreement" field="serviceAgreement" consolidate=true}}
      {{pricing/pricing-table-data-row plans=tableData rowTitle="Billing options" field="billingOptions" consolidate=true}}

    </tbody>
  </table>
</section>

{{marketing/marketing-faqs faqs=faqs}}

{{main-footer}}
