{{fixed-top-header}}

<div class="container-full container-vh bg-white-pattern flex items-center justify-center">
  {{#if model.success}}
    {{#status-panel
      inlineSvgName="thumbs-up-large-icon"
      mainText="Success!"
    }}
      {{#if session.currentUser}}
        <p class="alt-p text-gray-400">
          Your email address if now verified!
        </p>
        {{#link-to 'settings.profile' classNames='Button Button--primary test-verify-email-profile-link'}}Continue to Profile{{/link-to}}
      {{else}}
        <p class="alt-p text-gray-400">
          Your account has been created!
        </p>
        {{#link-to 'login' classNames='Button Button--primary test-verify-email-signin-link'}}Sign In{{/link-to}}
      {{/if}}
    {{/status-panel}}
  {{else}}
    {{status-panel
      inlineSvgName="error-large-icon"
      mainText="Uh Oh..."
      secondaryText=(or model "Something went wrong. Please try again or contact support")
    }}
  {{/if}}
</div>

{{main-footer}}
